@use "sass:map";
@use "../../styles/global.scss" as *;

.interaction-warning {
  margin-top: space(6);
  margin-bottom: space(6);
  background-color: color(yellow, 50);
  border-left: 4px solid color(yellow, 400);
  padding: space(6);
  border-radius: map.get($radius, DEFAULT);

  .interaction-warning-title {
    font-size: map.get($font-sizes, lg);
    font-weight: 600;
    color: color(yellow, 900);
    margin-bottom: space(2);
  }

  .interaction-warning-text {
    color: color(yellow, 800);
    margin-bottom: space(4);
  }

  .interaction-warning-button {
    background-color: color(yellow, 600);
    color: white;
    padding: space(2) space(4);
    border-radius: map.get($radius, DEFAULT);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;

    &.disabled {
      background-color: color(gray, 300) !important;
      cursor: not-allowed !important;
    }

    &:hover {
      background-color: color(yellow, 700);
    }
  }
}
