@use "../../styles/global.scss" as *;

.global-nav {
  background-color: white;
  box-shadow: map-get($shadows, sm);

  .global-nav-content {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 space(4);
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;

    .global-nav-title {
      font-size: map-get($font-sizes, 2xl);
      font-weight: bold;
      color: color(primary, 700);
    }

    .global-nav-auth {
      gap: 20px;
      display: flex;
      align-items: center;
    }

    .global-nav-links {
      display: flex;
      gap: space(4);
    }
    .global-nav-button {
      padding: 8px 12px;
      background: #4285f4;
      color: white;
      border: none;
      border-radius: 4px;
    }
  }
}
